<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsApp Chats</title>
  <link rel="stylesheet" href="style.css">
  <style>
    
  </style>
</head>
<body>
  <h1>All Chats</h1>
  <a href="http://localhost:5500/chats/new" class="a"><button class="new">Click here to add new Chat</button></a>
  <% for(let chat of chats){ %>
  <div class="chat">
    <p>From: <%= chat.from %></p>
    <p>Received By: <%= chat.to %></p>
    <div class="message">
      <p>Message: <%= chat.msg %></p>
      <a href="http://localhost:5500/chats/<%= chat._id %>/edit"><button>Edit</button></a>
    </div>
    <p><%= chat.created_at.toString().split(" ")[4] %> </p>
    <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %> </p>
    <hr/>
  </div>
<%}%>
</body>
</html>

